streamlit==1.49.1
streamlit-feedback==0.1.4
sqlalchemy==2.0.38
psycopg==3.2.10
psycopg-binary==3.2.10
psycopg2-binary==2.9.10
langchain==0.3.27
langchain-openai==0.3.33
langchain-postgres==0.0.15
langchain-tavily==0.2.11
langgraph==0.6.7
openai==1.108.1
tavily-python==0.5.1
pandas==2.2.3
numpy==1.26.4
python-dotenv==1.0.1